<div class="container mt-4">
  <div class="d-flex mb-4">
    <h1>投稿一覧</h1>
    <%= link_to new_post_path, class: "btn btn-outline-success ml-auto d-flex align-items-center" do %>
      <span class="mr-2">新規投稿</span>
      <i class="fa-regular fa-square-plus fa-lg"></i>
    <% end %>
  </div>

  <%= render "post_cards", posts: @posts %>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @posts %>
  </div>
</div>