<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h4 class="px-2">新規コミュニティ作成</h4>
        </div>

        <%= form_with model: @community, url: communities_path, local: true do |f| %>
          <%= render "form", f: f, community: @community %>
        <% end %>
      </div>
    </div>
    <div class="text-center mt-3">
      <%= link_to "コミュニティ一覧に戻る", communities_path, class: "btn btn-outline-secondary px-4" %>
    </div>
  </div>
</div>