<div class="container mt-4">
  <h1 class="mb-4">ユーザー一覧</h1>

  <% @users.each do |user| %>
    <%= render "user_cards", user: user %>
  <% end %>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @users %>
  </div>
</div>