<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <%# エラーの件数を表示 %>
    <h4 class="alert-heading"><%= resource.errors.count %>件のエラーがあります。</h4>
    
    <%# エラーの詳細をリスト表示 %>
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>